@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Poppins', sans-serif;
    color: white;
  }
  ul {
    display: flex;
  align-items: center;
  }
  li {
    margin-left: 18px;
    margin-right: 18px;
  }
  .Active {
    color: #E8DD8F;
  }
  h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.1;
    /* font-family: 'Poppins', sans-serif; */
  }
  h4 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}